a{
    text-decoration: none;
    color:inherit;
}

li{
    list-style: none;
}

button{
    align-items: center;
    border-color:black;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
}

.btn{
    display:flex;
    align-items: center;
    justify-items: center;
}

.navbar{
  padding-top: 20px;
  margin-bottom: 20px;
}

.menu{
    width:100%;
    padding-left:10%;
    padding-right:10%;
}

p{
    margin-top:-5px;
}

.form{
    justify-content: center;
    justify-items: center;
    color:rgb(33, 33, 33);
    margin-left:15%;
    border: solid rgb(33, 33, 33) 2px;
    
}

.deepInside{
    justify-content: space-between;
    align-items: center;
}

.boxForm{
    margin-right:15%;
    margin-bottom: 50px;
}

.site_footer{
  background-color: #bcc9d7 ;
  padding: 20px;
}


.footer_logo{
  margin-top: auto;
  margin-bottom: auto;
  margin-left:100px;
}

.footer_contacts{
  margin-right:100px;
}

